<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>video_recorder_pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C930871F1601A4004AE816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C930A01F1601A4004AE816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C930AB1F1601A4004AE816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
